/**************************************************/
/* HOME - PROJECTS LIST
/**************************************************/

.no-project {
    color: #767676;
    margin-top: 30px;
}

.projects-list {
    @include transition(all .2s $ease-out-quad);

    li {
        width: 25%;
    }

    a {
        display: block;
        overflow: hidden;
        @include ratio(68%);

        &:hover {
            .project-picture:before,
            .hover-title,
            .hover-tags {
                @include visible;
                @include transform(translateZ(0));
            }

            .project-picture {
                @include transform(scale(1.04));
            }

            // Separation line
            .hover-title:after {
                @include transform(translateZ(0));
            }
        }
    }

    .opened-filter & {
        @include transform(translateZ(0));
    }
}

.project-picture-container {
    color: #fff;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
}

.project-picture {
    background-repeat: no-repeat;
    background-size: cover;
    @include position(absolute, 0);
    @include transition(all .3s $ease-out-quad);

    // Overlay
    &:before {
        content: "";
        background: rgba(0,0,0,.6);
        @include transition(all .2s ease-in-out);
        @include hidden;
        @include position(absolute, 0);
    }
}

.hover-title,
.hover-tags {
    @include hidden;
}

.hover-title {
    font-size: 17px;
    margin-bottom: 24px;
    position: relative;
    @include transition(all .2s ease-in-out);
    @include transform(translate3d(0,10px,0));

    // Separation line
    &:after {
        content: "";
        background: #fff;
        width: 30px;
        height: 1px;
        margin-left: -15px;
        @include transform(scaleX(0));
        @include transition(all .2s ease-in-out);
        @include position(absolute, null null -11px 50%);
    }
}

.hover-tags {
    color: #d2d2d0;
    font-size: 11px;
    position: relative;
    @include transition(all .2s ease-in-out);
    @include transform(translate3d(0,4px,0));
}
