%li{class: project.category.name.parameterize}
  %a{href: '#'}
    .project-picture-container
      .project-picture{style: "background-image: url(#{project.featured_image.url})"}
      %h3.hover-title= project.title
      %p.hover-tags= project.description
