%li{class: project.category.name.parameterize}
  = link_to(project, {data: {push: true}}) do
    .project-picture-container
      .scale-container{style: scale_style(project)}
        = home_project_picture(project)
      %h2.hover-title= project.title
      %h3.hover-tags= project.category.name
