/**************************************************/
/* HEADER
/**************************************************/

#header {
    background: #fff;
    border-bottom: 1px solid #f0f1f2;
    position: fixed;
    width: 100%;
    height: $headerHeight;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.filter-button {
    width: 34px;
    height: 34px;
    margin: -17px 0 0 -7px;
    padding-left: 4px;
    @include position(absolute, 50% null null null);

    i {
        background: #bbb;
        float: left;
        width: 4px;
        height: 4px;
        margin: 2px;
        will-change: transform, opacity;
        @include transition(all .15s linear);

        &:nth-child(4),
        &:nth-child(7) {
            clear: both;
        }

        .opened-filter & {
            background: #000;
        }

        .inner-page & {
            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(7),
            &:nth-child(8) {
                opacity: 0;
            }

            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                @include transform(translateY(-2px));
            }

            &:nth-child(7),
            &:nth-child(8) {
                @include transform(translateY(2px));
            }
        }
    }
}

.logo {
    width: 43px;
    height: 30px;
    margin: -15px 0 0 -21px;
    @include position(absolute, 50% null null 50%);

    a {
        background: image-url("ketfi-kevin-logo.svg");
        background-size: cover;
        display: block;
        height: 100%;
        text-indent: -9999px;
    }
}

.contact-infos {
    float: right;
    height: 100%;
    @include display(flex);
    @include align-items(center);

    li {
        &:not(:last-child) {
            margin-right: 60px;
        }

        a {
            font-size: 12px;

            &:hover {
                &:after {
                    @include visible;
                    @include transform(none);
                }
            }
        }
    }
}

.cv-link {
    position: relative;

    // Download arrow
    &:before {
        content: "";
        background: image-url("download-arrow.svg");
        background-size: cover;
        width: 9px;
        height: 10px;
        margin-top: -5px;
        @include hidden;
        @include position(absolute, 50% null null -13px);
        @include transform(translate3d(0,-2px,0));
        @include transition(all .2s ease-in-out);
    }

    &:hover {
        &:before {
            @include visible;
            @include transform(none);
        }
    }
}
