/**************************************************/
/* GENERAL
/**************************************************/

body {
    color: #545454;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
}

.container {
    padding: 0 30px;
}

#content {
    padding-top: $headerHeight;
}




/**************************************************/
/* HEADER
/**************************************************/

#header {
    background: #fff;
    position: fixed;
    width: 100%;
    height: $headerHeight;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.filter-button {
    width: 34px;
    height: 34px;
    margin: -17px 0 0 -7px;
    padding-left: 4px;
    @include position(absolute, 50% null null null);

    i {
        background: #bbb;
        float: left;
        width: 4px;
        height: 4px;
        margin: 2px;
        @include transition(background .13s ease-in-out);

        &:nth-child(4),
        &:nth-child(7) {
            clear: both;
        }

        .opened-filter & {
            background: #000;
        }
    }
}

.logo {
    width: 43px;
    height: 30px;
    margin: -15px 0 0 -21px;
    @include position(absolute, 50% null null 50%);

    a {
        background: image-url("ketfi-kevin-logo.svg");
        background-size: cover;
        display: block;
        height: 100%;
        text-indent: -9999px;
    }
}

.contact-infos-list {
    float: right;
    height: 100%;
    @include display(flex);
    @include align-items(center);
}

.contact-infos-list-item {
    &:not(:last-child) {
        margin-right: 60px;
    }

    a {
        color: #767676;
        font-size: 12px;
        position: relative;
        @include transition(color .2s ease-in-out);

        // Underline
        &:after {
            content: "";
            background: #e2e2e2;
            height: 2px;
            @include hidden;
            @include position(absolute, null 0 -5px 0);
            @include transform(scaleY(0) translateY(2px));
            @include transition(all .2s ease-in-out);
        }

        &:hover {
            color: #343434;

            &:after {
                @include visible;
                @include transform(none);
            }
        }
    }
}

.cv-link {
    position: relative;

    // Download arrow
    &:before {
        content: "";
        background: image-url("download-arrow.svg");
        background-size: cover;
        width: 9px;
        height: 10px;
        margin-top: -5px;
        @include hidden;
        @include position(absolute, 50% null null -13px);
        @include transform(translate3d(0,-2px,0));
        @include transition(all .2s ease-in-out);
    }

    &:hover {
        &:before {
            @include visible;
            @include transform(none);
        }
    }
}
