/**************************************************/
/* GENERAL
/**************************************************/

body {
    color: #545454;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
}

.container {
    padding: 0 30px;
}

#content {
    padding-top: $headerHeight;
}
