/**************************************************/
/* MEDIA QUERIES
/**************************************************/

@media screen and (max-width: 1480px) {
    .projects-list li {
        width: 33.33334%;
    }
}


@media screen and (max-width: 980px) {
    .projects-list li {
        width: 50%;
    }
}

@media screen and (max-width: 760px) {
    .cv-link {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .contact-infos {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .projects-list li {
        width: 100%;
    }
}
